{$DOMAIN} {
    handle /api/* {
        reverse_proxy api:3000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }

    encode gzip
}

grafana.{$DOMAIN} {
    reverse_proxy grafana:3000
}
